#dolphin_body {
    background-color: blue;
}

#dog_body {
    background-color: yellow;
}

#homebody {
    background-color: blue;
    color: lightblue;
    font-size:18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
   
} 

li {
    display: inline;
}

li a {
    display: block;
    width: 60px;
     background-color:white;
    color:black;
}

#para1 {
 font-size:18px;
 color: #3B1709;
 text-shadow: 2px 2px 8px #000000;
}

#para2 {
 font-size:18px;
 color: #3B1709;
 text-shadow:2px 2px 8px #000000;
}

#para3 {
 font-size:18px;
 color: #81F7F3;
 text-shadow:4px 4px 4px #000000;
}

#info {
  font-size:18px;
  color:#81F7F3;
}

#title {
    color:#81F7F3;
    text-shadow:6px 6px 6px #000020;
}

